.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  // .input{
  //   border: 1px;
  // }

  .title {
    margin: 10px 0;
  }
}

.error {
  display: flex;
  color: #c1111d;
  margin-top: -5vh;
  font-size: small;
}
